<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>19_lecture_ UIView_IBOutlets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F91223961E8D66EA00DC1E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91223AF1E8D66EA00DC1E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91223BA1E8D66EA00DC1E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
